<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Jobs 4 You</a>
  
    <!-- Links -->
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
        <img class = "selficon"src="https://thumbs.dreamstime.com/b/search-job-vacancy-icon-vector-loupe-career-illustration-symbol-find-people-employer-logo-search-job-vacancy-icon-vector-loupe-152416177.jpg" srcset="">
            <li class="nav-item selfnav">
                <a class="nav-link selfnav1" href="//codeply.com">About Us</a>
            </li>
        </ul>

    </div>
  
      <!-- Dropdown -->
    <div class="selfnav1 navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Register
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" routerLink="/registerem">Register as Employer</a>
                  <a class="dropdown-item" routerLink="/registerap">Register as Applicant</a>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Login
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" routerLink="/loginem">Login as Employer</a>
                  <a class="dropdown-item" routerLink="/loginap">Login as Applicant</a>
                </div>
              </li>
        </ul>

    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Upcoming jobs </h1>
      <p class="lead">We have exciting Jobs for all types of applicants</p>
    </div>
  </div>



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="box">
        <div class="container">
             <div class="row">
                 
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                        <div class="card-block">
                            <h4 class="card-title">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a href="#">Friends</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="float-right">Joined in 2013</span>
                            <span><i class=""></i>75 Friends</span>
                        </div>
                    </div>
                </div>
                    
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                        <div class="card-block">
                            <h4 class="card-title">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a href="#">Friends</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="float-right">Joined in 2013</span>
                            <span><i class=""></i>75 Friends</span>
                        </div>
                    </div>
                </div>
                    
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                        <div class="card-block">
                            <h4 class="card-title">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a href="#">Friends</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="float-right">Joined in 2013</span>
                            <span><i class=""></i>75 Friends</span>
                        </div>
                    </div>
                </div>
                    
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                        <div class="card-block">
                            <h4 class="card-title">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a href="#">Friends</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="float-right">Joined in 2013</span>
                            <span><i class=""></i>75 Friends</span>
                        </div>
                    </div>
                </div>	 
                    
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://downloads.healthcatalyst.com/wp-content/uploads/2017/04/machine-learning-in-healthcare.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a href="#">Friends</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="float-right">Joined in 2013</span>
                            <span><i class=""></i>75 Friends</span>
                        </div>
                    </div>
                </div>	 
                    
                <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOwxS-tdXsUe8e-7Z9946Rp12kT6fDuPlgWMdprxK0ntQbdsou&usqp=CAU">
                        <div class="card-block">
                            <h4 class="card-title">Tawshif Ahsan Khan</h4>
                            <div class="meta">
                                <a href="#">Friends</a>
                            </div>
                            <div class="card-text">
                                Tawshif is a web designer living in Bangladesh.
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="float-right">Joined in 2013</span>
                            <span><i class=""></i>75 Friends</span>
                        </div>
                    </div>
                </div>
            
            </div>		
        </div>
    </div>
